<a href="https://colab.research.google.com/github/pinkdolphin11/BAEKJOON/blob/main/BAEKJOON_Step3_%EB%B0%98%EB%B3%B5%EB%AC%B8__1~9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1

In [5]:
N = int(input())

for i in range(1,10):
  print(N, '*', i, '=', N*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## 2

In [7]:
T = int(input())

for i in range(T):
  A,B = map(int,input().split())
  print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

## 3

In [10]:
n = int(input())

i = 0
sum = 0

while i<n:
  i += 1
  sum += i
print(sum)

4
10

## 4

In [12]:
X = int(input())
N = int(input())

sum = 0

for i in range(N):
  a,b = map(int,input().split())
  sum += a*b

if sum == X:
  print('Yes')
else:
  print('No')

260000
4
20000 5
30000 2
10000 6
5000 8
Yes

## 5

In [ ]:
import sys

T = int(sys.stdin.readline())

for i in range(T):
  A,B = map(int,sys.stdin.readline().split())
  print(A+B)

* sys.stdin.readline() 원래 코랩에서 실행안됨

## 6

In [24]:
T = int(input())

for i in range(T):
  A,B = map(int,input().split())
  print(f'Case #{i+1}: {A+B}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

* f-string 사용(참고 : https://ooyoung.tistory.com/37)

## 7

In [27]:
T = int(input())

for i in range(T):
  A,B = map(int,input().split())
  print(f'Case #{i+1}: {A} + {B} = {A+B}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

## 8

In [33]:
N = int(input())

for i in range(N):
  print('*'*(i+1))

5
*
**
***
****
*****

## 9

In [46]:
N = int(input())

for i in range(1,N+1):
  print(' '*(N-i)+'*'*i)

5
    *
   **
  ***
 ****
*****