<a href="https://colab.research.google.com/github/pinkdolphin11/BAEKJOON/blob/main/BAEKJOON_Step3_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1

In [ ]:
N = int(input())

for i in range(1,10):
  print(N, '*', i, '=', N*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## 2

In [ ]:
T = int(input())

for i in range(T):
  A,B = map(int,input().split())
  print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

## 3

In [ ]:
n = int(input())

i = 0
sum = 0

while i<n:
  i += 1
  sum += i
print(sum)

4
10

## 4

In [ ]:
X = int(input())
N = int(input())

sum = 0

for i in range(N):
  a,b = map(int,input().split())
  sum += a*b

if sum == X:
  print('Yes')
else:
  print('No')

260000
4
20000 5
30000 2
10000 6
5000 8
Yes

## 5

In [ ]:
import sys

T = int(sys.stdin.readline())

for i in range(T):
  A,B = map(int,sys.stdin.readline().split())
  print(A+B)

* sys.stdin.readline() 원래 코랩에서 실행안됨

## 6

In [ ]:
T = int(input())

for i in range(T):
  A,B = map(int,input().split())
  print(f'Case #{i+1}: {A+B}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

* f-string 사용(참고 : https://ooyoung.tistory.com/37)

## 7

In [ ]:
T = int(input())

for i in range(T):
  A,B = map(int,input().split())
  print(f'Case #{i+1}: {A} + {B} = {A+B}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

## 8

In [ ]:
N = int(input())

for i in range(N):
  print('*'*(i+1))

5
*
**
***
****
*****

## 9

In [ ]:
N = int(input())

for i in range(1,N+1):
  print(' '*(N-i)+'*'*i)

5
    *
   **
  ***
 ****
*****

## 10

In [4]:
while True:
  A,B = map(int,input().split())
  if A!=0 or B!=0:
    print(A+B)
  else:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

## 11

In [6]:
while True:
  try:
    A,B = map(int,input().split())
    print(A+B)
  except:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
a a

* try : A,B에 int형이 입력되면 A+B 출력
* except : try에 대해 에러가 발생한 경우 break
* 참고 https://velog.io/@jsw8050/%EB%B0%B1%EC%A4%80-while%EB%AC%B8-10951%EB%B2%88-AB-4-Python

## 12

In [31]:
N = int(input())

a = N//10
b = N%10

numlist = []

while True:
  new = b*10+((a+b)%10)
  numlist.append(new)
  a = new//10
  b = new%10
  if new == N:
    print(len(numlist))
    break

71
[18, 89, 97, 76, 63, 39, 92, 21, 13, 34, 47, 71]
12