<a href="https://colab.research.google.com/github/pinkdolphin11/BAEKJOON/blob/main/BAEKJOON_Step4_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1

In [5]:
N = int(input())
a = list(map(int,input().split()))
v = int(input())

b = []
for i in range(N):
  if v==a[i]:
    b.append(a[i])
print(len(b))

11
1 4 1 2 4 2 4 2 3 4 4
2
3

* list(map()) 형태로 입력값을 리스트로 받기

## 2

In [8]:
N,X = map(int,input().split())
A = list(map(int,input().split()))

for i in range(N):
  if A[i]<X:
    print(A[i],end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

* 조건에 맞는 A[i]를 바로 출력(end=' ' : 공백으로 구분)

## 3

In [3]:
N = int(input())
A = list(map(int,input().split()))

print(min(A),max(A))

5
20 10 35 30 7
7 35

## 4

In [2]:
N = []
for i in range(9):
  n = int(input())
  N.append(n)

print(max(N))
print(N.index(max(N))+1)

3
29
38
12
57
74
50
85
61
85
8

* max(배열), 배열.index
* 참고 https://ooyoung.tistory.com/55

## 5

In [21]:
N = []
for i in range(28):
  n = int(input())
  N.append(n)

N.sort()
check = range(1,31)
for i in check:
  if i not in N:
    print(i)

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

* 리스트에 특정 값이 있는지/없는지 확인 : if item in/not in list

## 6

In [28]:
N = []
for i in range(10):
  n = int(input())
  N.append(n%42)

print(len(set(N)))

42
84
252
420
840
126
42
84
420
126

1

* 리스트의 각 원소마다 반복문 적용할 필요 없이 바로 N에 n%42 값을 넣어주면 됨
* set : unique한 원소만 저장(리스트에는 unique 연산이 없음)
* 참고 https://pacific-ocean.tistory.com/35

## 7

In [32]:
N = int(input())
S = list(map(int,input().split()))

flist = []
for i in range(N):
  flist.append(S[i]/max(S)*100)
print(sum(flist)/len(flist))

4
1 100 100 100
75.25

## **8**

In [60]:
T = int(input())

for i in range(T):
  ox_list = list(input())
  score = 0
  sum = 0
  for ox in ox_list:
    if ox=='O':
      score+=1
      sum+=score
    else:
      score=0
  print(sum)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

* 참고 https://ooyoung.tistory.com/61

## **9**

In [45]:
C = int(input())
N = []

for i in range(C):
  n = list(map(int,input().split()))
  for j in range(1,len(n)):
    if (sum(n)-n[0])/n[0] < n[j]:
      N.append(n[j])
  print(f'{(len(N)/(len(n)-1))*100:.3f}%')
  N.clear()

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%